.header {
  display: flex;
  align-items: center;
  height: 60px;
}

.logo {
  width: 120px;
  height: 30px;
  margin-right: 50px;
  background-color: rgb(255 255 255 / 30%);
}

.headerMenu {
  flex: 1;
  height: 60px;
  line-height: 60px !important;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sider,
.menu,
.content {
  height: 100%;
}

.sider {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
  border-right: 1px solid #f0f0f0;
}

.menu {
  border: none;
}

.content {
  padding: 16px;
  overflow-x: auto;
}
